{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "external-helpers",
    "transform-runtime",
    "transform-regenerator",
    "transform-decorators-legacy",
    "add-module-exports"
  ]
}
